/* Body styles */
body {
    font-family: Baskerville, sans-serif;
    color: #ffffff; /* White text */
    background-color: #444444; /* Dark grey background */
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: black; /* Slightly darker grey header */
    color: #ffffff;
    padding: 30px;
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Align items vertically */
    max-width: 100%;
}



header h1 {
    margin: 0; /* Remove default margin */
    margin-left: 10%;
    margin-right: 5%;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-between; /* Space items evenly across the whole width with equal space around them */
    width: 50%; /* Make the navigation take the full width of the header */
    margin-left: 20%;
}

nav ul li {
    display: inline;
    margin: 0 80%;
    left: 10%;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}


/* Dropdown menu styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Light grey dropdown background */
    border: 1px solid #ccc; /* Add a border for separation */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 1;
    border-radius: 5px; /* Rounded corners */
    top: 100%; /* Position the dropdown content below its parent */
    left: 0; /* Align the dropdown content with the left edge of its parent */
}

.dropdown-content a {
    color: #333333; /* Dark grey text */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.dropdown-content a:hover {
    background-color: #e5e5e5; /* Light grey hover background */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main content styles with background image */
main {
    background-image: url('06.jpg'); /* Specify the correct path to your image */
    background-size: 100% auto; /* Cover the entire main section */
    background-position: center; /* Center the background image */
    padding: 20%;
    min-height: 100%;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #ffffff;
    font-size: 204px;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

/* Adjusted headline styles */
h1 {
    color: #ffffff;
    font-size: 20px;
    margin-right: 20px; /* Adjust spacing between headline and dropdowns */
    display: inline-block; /* Align horizontally with dropdowns */
    vertical-align: middle; /* Align vertically in line with other elements */
    text-align: left; /* Align the text to the left */
}
